#poppy_chamber_temperature_indicator {
  float: right;
}
#poppy_chamber_fan_indicator {
  margin-left: 15px;
}
#poppy_chamber_light_indicator {
  float: right;
}
#poppy_chamber_light_indicator.high i {
  color: #ffff80;
}
#poppy_chamber_light_indicator.medium i {
  color: #d08000;
}
#poppy_chamber_light_indicator.low i {
  color: #a04000;
}
#poppy_chamber_light_indicator.off i {
  color: #606060;
}
