<a id="poppy_chamber_temperature_indicator" class="pull-right" title="Chamber Temperature" href="#" data-bind="click: function() { $root.showSettings(); }, visible: (chamberTemperature() !== undefined)" style="display: none">
    <i class="fas fa-thermometer-three-quarters"></i>
    <span data-bind="text: chamberTemperature()"></span>&nbsp;&#x2103;
    <span id="poppy_chamber_fan_indicator" data-bind="visible: (chamberFanSpeed() !== undefined)">
        <i class="fas fa-fan"></i>
        <span data-bind="text: chamberFanSpeed()"></span>&nbsp;rpm
    </span>
</a>
<a id="poppy_chamber_light_indicator" class="pull-right" title="Toggle Chamber Light" href="#" data-bind="click: function() { loginState.isUser() && $root.toggleChamberLightMode(); }, visible: (chamberLightMode() !== undefined)" style="display: none">
    <i class="fas fa-lightbulb"></i>
</a>