<a id="poppy_chamber_light_indicator" class="pull-right" title="Toggle Chamber Light" href="#" data-bind="click: function() { loginState.isUser() && $root.toggleChamberLightMode(); }, visible: (chamberLightMode() !== undefined)" style="display: none">
    <i class="icon-lightbulb"></i>
</a>