<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Chamber target temperature when heating') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.poppy.chamber_target_temperature_when_heating">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Chamber target temperature when cooling') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.poppy.chamber_target_temperature_when_cooling">
        </div>
    </div>
</form>